<article ng-repeat='product in products'>
	<h1><a ng-href='/products/{{product.barcode}}'>{{product.name}}</a></h1>
	<span>{{product.barcode}}</span>
</article>

<div style='clear:both'>
	<a href='javascript:void(0)' onclick='ui.toggleForm("#add-product-form")' id='add-product-form-button'>add a new product</a>
	<form ng-submit='save(pr)' style='display:none' id='add-product-form'>

		<h2>Add product</h2>

		<p><label for='pr.barcode'>Barcode</label><br />
		<input type='text' name='pr.barcode' ng-model='pr.barcode' /></p>
		<p><label for='pr.name'>Name</label><br />
		<input type='text' name='pr.name' ng-model='pr.name' /></p>
		<input type='submit' value='add'>

		<a href='javascript:void(0)' onclick='ui.toggleForm("#add-product-form")'>cancel</a>
	</form>	
</div>