<h1>{{product.name}}</h1>
<div><span>GTIN</span> {{product.barcode}}</div>
<div class='property' ng-repeat='property in product.properties'>
	<h3 class='nolink'>{{property.display_name}} <a href ng-click='deleteProperty(product.properties, property, $index)'>șterge</a></h3>
	<div class='opinion' ng-repeat='opinion in property.values | orderBy:"score":true'>
		{{opinion.value}} ({{opinion.score}} pct)
		<a href ng-click='vote(opinion)'>votează</a>
		<a href ng-click='deleteOpinion(property, opinion, $index)'>șterge</a>
	</div>

	<a href='javascript:void(0)' onclick='ui.toggleForm("#prop-{{property._nodeId}}-form")' id='prop-{{property._nodeId}}-form-button'>adaugă altă variantă</a>
	<form ng-submit='addOpinion(property)' style='display:none' id='prop-{{property._nodeId}}-form'>
		<input type='text' ng-model='property.new_opinion_value' />
		<input type='submit' value='Adaugă' />
		<a href='javascript:void(0)' onclick='ui.toggleForm("#prop-{{property._nodeId}}-form")'>renunță</a>
	</form>

</div>


<a href='javascript:void(0)' onclick='ui.toggleForm("#add-property-form")' id='add-property-form-button'>adaugă o nouă proprietate</a>
<form ng-submit='addProperty(pr)' style='display:none' id='add-property-form'>
	<h2>Adaugă o proprietate</h2>
	<select ng-model='property_name'>
		<% for n in Product.property_keys.keys do %>
			<option value='<%= n.to_s %>'><%= I18n.t("products.properties.#{n}") %></option>
		<% end %>
	</select>
	<input type='submit' value='Adaugă'>
	<a href='javascript:void(0)' onclick='ui.toggleForm("#add-property-form")'>renunță</a>
</form>

<br /><a href='javascript:void(0)' onclick='ui.toggleForm("#delete-product")' id='delete-product-button'>șterge acest produs</a>
<div id='delete-product' style='display:none'>
<h2>Șterge produs</h2>

<p>Dacă consideri că acest produs este stocat total greșit sau codul de bare nu se potrivește cu numele produsului, te rog să apeși pe link-ul de mai jos pentru a continua și a șterge produsul.</p>

<a href ng-click='delete(product)'>continuă și șterge produsul</a> sau
<a href='javascript:void(0)' onclick='ui.toggleForm("#delete-product")'>renunță</a>
</div>