<h1>{{product.name}}</h1>
<div><span>GTIN</span> {{product.barcode}}</div>
<div class='property' ng-repeat='property in product.properties'>
	<h3 class='nolink'>{{property.display_name}} <a href ng-click='deleteProperty(product.properties, property, $index)'>delete</a></h3>
	<div class='opinion' ng-repeat='opinion in property.values | orderBy:"score":true'>
		{{opinion.value}} ({{opinion.score}} pct)
		<a href ng-click='vote(opinion)'>vote</a>
		<a href ng-click='deleteOpinion(property, opinion, $index)'>delete</a>
	</div>

	<a href='javascript:void(0)' onclick='ui.toggleForm("#prop-{{property._nodeId}}-form")' id='prop-{{property._nodeId}}-form-button'>add another value</a>
	<form ng-submit='addOpinion(property)' style='display:none' id='prop-{{property._nodeId}}-form'>
		<input type='text' ng-model='property.new_opinion_value' />
		<input type='submit' value='Add' />
		<a href='javascript:void(0)' onclick='ui.toggleForm("#prop-{{property._nodeId}}-form")'>cancel</a>
	</form>

</div>


<a href='javascript:void(0)' onclick='ui.toggleForm("#add-property-form")' id='add-property-form-button'>add a new property</a>
<form ng-submit='addProperty(pr)' style='display:none' id='add-property-form'>
	<h2>Add a property</h2>
	<select ng-model='property_name'>
		<% for n in Product.property_keys.keys do %>
			<option value='<%= n.to_s %>'><%= I18n.t("products.properties.#{n}") %></option>
		<% end %>
	</select>
	<input type='submit' value='Add'>
	<a href='javascript:void(0)' onclick='ui.toggleForm("#add-property-form")'>cancel</a>
</form>

<br /><a href='javascript:void(0)' onclick='ui.toggleForm("#delete-product")' id='delete-product-button'>delete this product</a>
<div id='delete-product' style='display:none'>
<h2>Delete product</h2>

<p>If you think that this product is totally wrong or if the barcode does not match with the name of this product, click the link below to delete this product.</p>

<a href ng-click='delete(product)'>continue and delete this product</a> or
<a href='javascript:void(0)' onclick='ui.toggleForm("#delete-product")'>cancel</a>
</div>