<div class='main-column'>
	<h1>Sign up</h1>

	<p>Fill in the following form to create a new Enzify account.</p>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <p>By clicking "Sign up" you accept our <a href='/terms'>terms of service</a>.</p>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

	<h2>Problems with your e-mail?</h2>

	<p>Try to <%= link_to "sign in", new_user_session_path %> using a service from the right that uses that e-mail address and you're be logged in into your existing Enzify account.</p>
</div>

<div class='side-column'>
	<h2>Existing accounts</h2>
	<p>Use one of the following services to sign up:</p>

	<a href='/auth/facebook'><img src='/images/auth-providers/facebook.png'/></a>
	<a href='/auth/google'><img src='/images/auth-providers/google.png'/></a>
	<a href='/auth/yahoo'><img src='/images/auth-providers/yahoo.png'/></a>

	<p><strong>Note</strong> We need your e-mail address to sign you up. Don't worry! We don't spam.</p>
</div>