<h1><%= I18n.t 'auth.view.manage_title' %></h1>

<h3><%= I18n.t 'auth.view.manage_subtitle' %></h3>

<table width='100%'>
	<tr>
		<td><%= I18n.t('auth.view.provider') %></td>
		<td><%= I18n.t('auth.view.picture') %></td>
		<td><%= I18n.t('auth.view.name') %></td>
		<td><%= I18n.t('auth.view.email') %></td>
		<td></td>
	</tr>
	<tr ng-repeat="auth in authentications">
		<td>
			<img ng-src="/images/auth-providers/{{auth.provider}}.png" />
		</td>
		<td>
			<img ng-src="{{auth.picture}}" />
		</td>
		<td>{{auth.name}} ({{auth.nickname}})</td>
		<td>{{auth.email}}</td>
		<td><a href ng-click='destroyAuth($index, auth)'><%= I18n.t('g.actions.delete') %></a></td>
	</tr>
</table>

<h2><%= I18n.t 'auth.view.new_title' %></h2>

<a href='/auth/facebook'><img src='/images/auth-providers/facebook.png'/></a>
<a href='/auth/twitter'><img src='/images/auth-providers/twitter.png'/></a>
<a href='/auth/google'><img src='/images/auth-providers/google.png'/></a>
<a href='/auth/yahoo'><img src='/images/auth-providers/yahoo.png'/></a>
