<h1>Signing in services</h1>

<p>Manage which services you want to use to sign into Enzify.</p>
<table>
  <tr>
    <th>Uid</th>
    <th>Provider</th>
    <th>Email</th>
    <th>Name</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authentications.each do |auth| %>
  <tr>
    <td><%= auth.uid %></td>
    <td><%= auth.provider %></td>
    <td><%= auth.email %></td>
    <td><%= auth.name %></td>
    <td><%= auth.nickname %></td>
    <td><%= link_to 'Destroy', auth, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
