<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @identity.uid %>
</p>

<p>
  <b>Provider:</b>
  <%= @identity.provider %>
</p>

<p>
  <b>Email:</b>
  <%= @identity.email %>
</p>

<p>
  <b>Name:</b>
  <%= @identity.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @identity.nickname %>
</p>


<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>
