<div class='main-column'>
	<h1>Sign in</h1>

	<p>Sign in with one of the following:</p>

	<a href='/auth/facebook'><img src='/images/auth-providers/facebook.png'/></a>
	<a href='/auth/twitter'><img src='/images/auth-providers/twitter.png'/></a>
	<a href='/auth/google'><img src='/images/auth-providers/google.png'/></a>
	<a href='/auth/yahoo'><img src='/images/auth-providers/yahoo.png'/></a>

	<p><strong>Note:</strong> We recommend to link all your services for smooth sign in every time.<br />
	Moreover, this way you will avoid having more <em>unlinkable</em> accounts.</p>

	<h2>New here?</h2>
	<p>You can sign up using any service that provides a valid e-mail address.<br />
	Alteratively, if you do not use any of the above, you can <%= link_to "register here", new_user_registration_path %>.</p>
	<p><strong>Note:</strong> We need a valid e-mail address for new accounts. <br />
	We'll keep it safe and not spam you!</p>

</div>


<div class='side-column'>
	<h2>Enzify account</h2>
	<p>Fill in the form to sign in using your password.</p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	<% end %>
	<h2>Forgot your details?</h2>
	<p>You can <%= link_to 'reset your password', new_user_password_path %> with ease.</p>
</div>