<div class='main-column'>
	<h1>Autentificare</h1>

	<p>Autentifică-te cu unul dintre următoarele servicii:</p>

	<a href='/auth/facebook'><img src='/images/auth-providers/facebook.png'/></a>
	<a href='/auth/twitter'><img src='/images/auth-providers/twitter.png'/></a>
	<a href='/auth/google'><img src='/images/auth-providers/google.png'/></a>
	<a href='/auth/yahoo'><img src='/images/auth-providers/yahoo.png'/></a>

	<p><strong>Notă:</strong> Recomandăm adăugarea tuturor providerilor de autentificare pentru o conectare mai ușoară în viitor. Astfel poți evita creerea de conturi multiple.</p>

	<h2>Prima dată aici?</h2>
	<p>Te poți înregistra cu orice serviciu de mai sus care oferă o adresă de e-mail validă.<br />
	Alternativ, dacă nu folosești nici unul dintre acele servicii, te poți <%= link_to "înregistra aici", new_user_registration_path %>.</p>
	<p><strong>Notă:</strong> Avem nevoie de o adresă de e-mail validă pentru a crea conturi noi. <br />
	O vom ține în siguranță și nu vom trimite spam!</p>

</div>


<div class='side-column'>
	<h2>Cont Enzify</h2>
	<p>Completează formularul pentru a te autentifica cu parola contului tău.</p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Autentifică-mă" %></div>
	<% end %>
	<h2>Ți-ai uitat detaliile?</h2>
	<p>Poți <%= link_to 'să-ți resetezi parola', new_user_password_path %> cu ușurință.</p>
</div>