angular.module('enzifyServices', ['ngResource']).
	factory('Authentication', function($resource) {
		return $resource('/authentications/:auth_id', {}, {
			'index': {method:'GET', isArray: true},
			'delete': {method:'DELETE'}
		});
	}).
	factory('Me', function($resource) {
		return $resource('/users/me', {}, {
			'query': {method:'GET', isArray:false}
		});
	}).
	factory('Product', function($resource) {
		return $resource('/products/:barcode', {}, {
			'index': {method:'GET', isArray: true},
			'get': {method:'GET', isArray: false},
			'create': {method: 'POST'}
		});
	}).
	factory('ProductSearch', function($resource) {
		return $resource('/search/:terms', {}, {
			'query': {method:'GET', isArray: true}
		});
	}).
	factory('Property', function($resource) {
		return $resource('/products/:id/create-property', {},{
			'create': {method:'POST'},
			'delete': {method:'DELETE'}
		});
	}).
	factory('Opinion', function($resource) {
		return $resource('/opinion/:id', {},{
			'create': {method:'POST'},
			'vote': {method:'PUT'}
		});
	}).
	factory('errorHandler', function() {
		return {
			response: function(response) {
				var errorMsg = '<%= I18n.t("g.errors.paranoid")%>'
				if (response.data && response.data.error) {
					errorMsg = response.data.error;
				}
				alert(errorMsg);
			}
		}
	});