html
  :font-size 100%

// general feeling:
a
  :color $url-color
  :text-decoration none
  &:hover
    :color $url-color-hover
    :text-decoration underline
    :outline 0 none
  &:active
    :outline 0 none !important
  &:focus
    :outline thin dotted $main-font-color

p, ol, ul, td
  :font-family verdana, arial, helvetica, sans-serif
  :font-size 0.8em
  :line-height 1.459em

h1
  :margin-top 0px

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
  :color lighten($main-font-color,30%)

pre  
  :background-color #eee
  :padding 1%
  :font-size 0.7em

div 
  &.field, &.actions  
    :margin-bottom 1%

form > div
  :margin-bottom 10px

#mobile-usermenu a
  color: #fff
  &:hover
    color: #eee

// forms:
input[type="submit"], input[type="button"], .button
  +buttonStyle($second-green)

input[type="text"], input[type="password"], input[type="email"]
  +input($second-green)


// products
article
  :width 29%
  :padding 1%
  :margin 1%
  :float left
  :color lighten($main-font-color, 30%)
  :border 1px solid lighten($main-font-color, 40%)
  +border-radius(5px)
  +linear-gradient(#fff, darken(#fff,10%))
  h1
    :font-size 1.3em
    :margin-bottom 0.5em
  span.small
    :font-size 0.6em
  span
    :font-size 0.8em
  a
    :color lighten($main-font-color, 30%)
  &:hover
    +linear-gradient(lighten($second-green,60%), lighten($second-green,50%))
    h1
      :color $url-color
      a
        :color $url-color
.nolink a
  :display none

.nolink:hover a
  :display inline

.opinion a
  :display none
.opinion:hover a
  :display inline
.opinion
  :padding-bottom 1em

.property
  :margin 1em 0px
  :padding 10px
  h1, h2, h3, h4, h5, h6
    :margin-top 0px
  &:hover
    +linear-gradient(darken(#fff,2%),darken(#fff,6%))
    +border-radius(10px)