p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.459em; }

h1 {
  margin-top: 0px;
}

pre {
  background-color: #eee;
  padding: 1%;
  font-size: 0.7em; }

div {
  &.field, &.actions {
    margin-bottom: 1%; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 0.3%;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
