<% if current_user %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <% unless current_user.encrypted_password %>
    <p>
      Before being able to edit your account, you <strong>should set up a password</strong>.
    </p>

    <%= form_tag(new_password_path, :method=>'post') do %>
      <div><%= label_tag :new_password, "New password" %><br />
        <%= password_field_tag :new_password %>
      </div>
      <div><%= label_tag :new_password_confirm, "Confirm your new password" %><br />
        <%= password_field_tag :new_password_confirm %>
      </div>
      <div><%= submit_tag "Create my password" %></div>
    <% end %>

  <% else %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>

      <div><%= f.submit "Update" %></div>
    <% end %>
  <% end %>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

  <%= link_to "Back", :back %>
<% end %>