<footer>
	<div class='center-content only-desktop'>
		<div>
			<h1>Contact us</h1>
			<p>For productors: <br />
			<%= link_to "productors@enzify.com", 'mailto:productors@enzify.com' %></p>
			<p>For markets, supermarkets or shops:<br />
			<%= link_to "implementation@enzify.com", 'mailto:implementation@enzify.com' %></p>
			<p>For the general public:<br />
			<%= link_to "contact@enzify.com", 'mailto:contact@enzify.com' %></p>
		</div>
		<div>
			<h1>Hello, world</h1>
			<p>bla bla bla</p>
			<p>Lorem ipsum sit amet</p>
			<p>Scan and discover</p>
			<p>&copy; 2012 Enzify</p>
		</div>
		<div>
			<h1>Useful links</h1>
			<p><a href='/terms'>Terms and conditions</a></p>
			<p>API for developers</p>
			<p>Mobile applications</p>
		</div>
	</div>
	<div class='center-content only-mobile' style='text-align:center'>
		&copy;2012 Enzify. <a href='/terms'>Terms</a>
	</div>
</footer>
