<footer>
	<div class='center-content only-desktop'>
		<div>
			<h1>Contactați-ne</h1>
			<p>Pentru producători: <br />
			<%= link_to "productors@enzify.com", 'mailto:productors@enzify.com' %></p>
			<p>Pentru magazine:<br />
			<%= link_to "implementation@enzify.com", 'mailto:implementation@enzify.com' %></p>
			<p>Generalități:<br />
			<%= link_to "contact@enzify.com", 'mailto:contact@enzify.com' %></p>
		</div>
		<div>
			<h1>Bună, lume!</h1>
			<p>bla bla bla</p>
			<p>Lorem ipsum sit amet</p>
			<p>Scanează și descoperă</p>
			<p>&copy; 2012 Enzify</p>
		</div>
		<div>
			<h1>Legături utile</h1>
			<p><a href='/terms'>Termeni și condiții</a></p>
			<p>API for developers</p>
			<p>Mobile applications</p>
		</div>
	</div>
	<div class='center-content only-mobile' style='text-align:center'>
		&copy;2012 Enzify. <a href='/terms'>Termeni</a>
	</div>
</footer>
