<header>
	<div class='center-content' style='height:100%'>
		<div id='logo'><%= link_to "Enzify", '/' %></div>
		<div class='only-mobile' id='expend-menu'>
			<a href='javascript:void(0);' onclick='ui.toggleMenu();'><span></span></a>
		</div>
		<div class='only-mobile' style='clear:both'>
			<nav id='mobile-usermenu' style='display:none'>
				<% if current_user %>
					<%= link_to current_user.display_name, me_path %>
					<%=link_to I18n.t('layout.usermenu.authentications'), authentications_path %>
					<%=link_to I18n.t('layout.usermenu.my_account'), edit_user_registration_path %>
					<%=link_to I18n.t('layout.usermenu.sign_out'), destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to I18n.t('layout.usermenu.sign_in'), new_user_session_path %>
					<a href='/auth/twitter'>Twitter</a>
					<a href='/auth/facebook'>Facebook</a>
					<a href='/auth/google'>Google</a>
				<% end %>
			</nav>
		</div>
		<div id='search' class='only-desktop'>
			<input type='search' placeholder='<%= I18n.t 'layout.search_placeholder' %>' id='searchbox' />
		</div>
		<nav id='usermenu' class='only-desktop'>
			<% if current_user %>
				<%= link_to current_user.display_name, me_path %>
				<div>
					<ul>
						<li><%=link_to I18n.t('layout.usermenu.authentications'), authentications_path %></li>
						<li><%=link_to I18n.t('layout.usermenu.my_account'), edit_user_registration_path %></li>
						<li><%=link_to I18n.t('layout.usermenu.sign_out'), destroy_user_session_path, :method => :delete %></li>
					</ul>
				</div>
			<% else %>
				<%= link_to I18n.t('layout.usermenu.sign_in'), new_user_session_path %>
				<div>
					<ul>
						<li><a href='/auth/twitter'>Twitter</a></li>
						<li><a href='/auth/facebook'>Facebook</a></li>
						<li><a href='/auth/google'>Google</a></li>
					</ul>
				</div>
			<% end %>
		</nav>
	</div>
</header>