<!DOCTYPE html>
<html>
<head>
  <title>Enzify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class='main-container'>
	<div class='center-content'>
		<% if notice %>
			<p class='notice'><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class='alert'><%= alert %></p>
		<% end %>
		<%= yield %>
	</div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
